<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/orders.css}"/>
    <title>Add new order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add new customer: </h1>
<div class="container">
    <form action="#" th:action="@{/customers/new-customer}" th:object="${customer}" method="post">
        <div class="table">
            <div class="row">
                <div class="cell">
                    <label> Enter customer name:
                        <input type="text" th:field="*{name}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label> Enter customer address:
                        <input type="text" th:field="*{address}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label> Enter customer phone number:
                        <input type="number" minlength="8" maxlength="9" th:field="*{phone}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label> Enter name of company's contact person:
                        <input type="text" th:field="*{contactPerson}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <input type="submit"/>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>